@charset "utf-8";
/* CSS Document */
/* DEBUG 
.grid{
	background-color:#0FA1F3;
}

.row{
	background-color:#0559ED;
}

[class *="-col"]{
	background-color:#97F663;
}

 DEBUG */

/* GRID: Basic structure*/
*, *:before, *:after{
	box-sizing:border-box;
}

.gird{
	width:100%;
}

.grid, .row, [class*="-col"]{
	padding:0;
	margin:0;
}

.grid:after, .row:after{
	content:"";
	display:table;
	clear:both;
}

.row{
	margin-bottom:1em;
}

.row:last-child{
	margin-bottom:0;
}

/* Columns */
[class *="-col"]{
	float: left;
	margin-right:1.6%;
}

[class *="-col"]:last-child{
	margin-right:0;
}

.one-col{
	width:6.866%;
}
.two-col{
	width:15.33%;
}
.three-col{
	width:23.8%;
}
.four-col{
	width:32.26%;
}
.five-col{
	width:40.73%;
}
.six-col{
	width:49.2%;
}
.seven-col{
	width:57.66%;
}
.eight-col{
	width:66.33%;
}
.nine-col{
	width:74.6%;
}
.ten-col{
	width:83.06%;
}
.eleven-col{
	width:91.53%;
}
.twelve-col{
	width:100.00%;
}

/* COLUMN Offset */
.one-offset {
  margin-left: 8.458%;
}

.two-offset {
  margin-left: 16.91%;
}

.three-offset {
  margin-left: 25.37%;
}

.four-offset {
  margin-left: 33.83%;
}

.five-offset {
  margin-left: 42.29%;
}

.six-offset {
  margin-left: 50.75%;
}

.seven-offset {
  margin-left: 59.20%;
}

.eight-offset {
  margin-left: 67.66%;
}

.nine-offset {
  margin-left: 76.12%;
}

.ten-offset {
  margin-left: 84.58%;
}

.eleven-offset {
  margin-left: 91.54%;
}

